[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
bs4 = "*"
lxml = "*"
fastapi = {extras = ["all"], version = "*"}
slowapi = "*"
whoosh = "*"

[dev-packages]

[requires]
python_version = "3.8"
