[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
spacy = "*"
bs4 = "*"
flask = "*"
elasticsearch-dsl = "*"
lxml = "*"
fastapi = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
